:root {
    --minValue: 15px; /*минимально значение*/
    --maxValue: 105px; /*максимально значение*/
    --remDefault: 16px; /*значение rem умолчанию*/
    --minScreen: 360px; /*минимальная ширина экрана*/
    --maxScreen: 787px; /*максимальная ширина экрана*/
  }

div {
    width: min(max(var(--minValue), calc((var(--minValue) / var(--remDefault)) + ( var(--maxValue) - var(--minValue)) * ((100vw - var(--minScreen)) / (var(--maxScreen) - var(--minScreen))))), var(--maxValue));
    width: min(max(15px, calc(0.9375rem + (105 - 15) * ((100vw - 360px) / (767 - 360)))), 105px);
}
